<!DOCTYPE html>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<head>
    <title>리더보드</title>
</head>
<body class="bg-yellow-100">
    <div class="container mt-20 mr-8 ml-8 mb-8 bg-white">
        <p class="font-black text-yellow-400 text-7xl" style="-webkit-text-stroke: 3px black;">RANK</p>
        <div class="container mt-20 mr-4 ml-4 mb-4">
            <table class="table-fixed">
                <thead class="w-full">
                    <th class="w-1/3"></th>
                    <th class="w-1/3"></th>
                    <th class="w-1/3"></th>
                </thead>
                <tbody>
                    <tr class="bg-yellow-300">
                        <td class="font-black text-yellow-400 text-3xl text-left" style="-webkit-text-stroke: 3px black;">1st</td>
                        <td class="font-black text-black text-3xl text-center">10516 이선영</td>
                        <td class="font-black text-black text-3xl text-right">07:26</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>