<!DOCTYPE html>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<head>
    <title>리더보드</title>
</head>
<body class="bg-blue-50">
    <div>
        <a class="underline text-gray-400 text-lg font-light" href="/">홈페이지로 돌아가기</a>
    </div>
    <div class="container mt-10 sm:mt-20 sm:mr-8 sm:ml-8 sm:mb-8">
        <p class="font-black text-gray-600 text-4xl sm:text-7xl">순위</p>
        <div class="container mt-5 sm:mt-20 sm:mr-4 sm:ml-4 sm:mb-4">
            <table class="table-fixed w-full">
                <thead class="w-full">
                    <th class="w-1/4"></th>
                    <th class="w-1/2"></th>
                    <th class="w-1/4"></th>
                </thead>
                <tbody>
                    {% for i in range(thingLen)%}
                        {% if i == 0 %}
                            <tr class="bg-blue-600">
                                <td class="font-black text-pink-50 text-lg sm:text-3xl text-left py-2" >1</td>
                                <td class="font-black text-pink-50 text-lg sm:text-3xl text-center py-2" >{{things[i][0]}}</td>
                                <td class="font-black text-pink-50 text-lg sm:text-3xl text-right py-2">{{things[i][6]}}</td>
                            </tr>
                        {% elif i == 1 %}
                            <tr class="bg-blue-500">
                                <td class="font-black text-pink-50 text-lg sm:text-3xl text-left py-2">2</td>
                                <td class="font-black text-pink-50 text-lg sm:text-3xl text-center py-2">{{things[i][0]}}</td>
                                <td class="font-black text-pink-50 text-lg sm:text-3xl text-right py-2">{{things[i][6]}}</td>
                            </tr>
                        {% elif i == 2 %}
                            <tr class="bg-blue-400">
                                <td class="font-black text-pink-50 text-lg sm:text-3xl text-left py-2">3</td>
                                <td class="font-black text-pink-50 text-lg sm:text-3xl text-center py-2">{{things[i][0]}}</td>
                                <td class="font-black text-pink-50 text-lg sm:text-3xl text-right py-2">{{things[i][6]}}</td>
                            </tr>
                        {% else %}
                            <tr class="bg-blue-300">
                                <td class="font-black text-pink-50 text-lg sm:text-3xl text-left py-2">{{i+1}}</td>
                                <td class="font-black text-pink-50 text-lg sm:text-3xl text-center py-2">{{things[i][0]}}</td>
                                <td class="font-black text-pink-50 text-lg sm:text-3xl text-right py-2">{{things[i][6]}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>