<!DOCTYPE html>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<head>
    <title>방1 설명</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body class="bg-blue-50">
    <div name="header">
        <div class="underline grid grid-cols-2 text-gray-400 text-lg font-light">
            <div class="justify-start">
                <p>{{name}}</p>
            </div>
            <div class="justify-end text-right">
                <a href="/logout">로그아웃</a>
            </div>
        </div>
    </div>
    <div name="title">
        <p class="text-3xl sm:text-7xl font-black mt-3 text-gray-700">방1 설명</p>
    </div>
    <div name="body">
        <div class="">
            <p class="text-xl sm:text-5xl font-black mt-3 text-gray-600">사용법</p>
            <div class="text-lg sm:text-4xl font-medium mt-1 text-gray-500">
                <p></p>
            </div>
            <p class="text-xl sm:text-5xl font-black mt-3 text-gray-600">점수 산출 공식</p>
            <div class="text-lg sm:text-4xl font-medium mt-1 text-gray-500">
                <p>$$\begin{align}S = \alpha - \sum_{i=1}^{5}\sum_{j=1}^{3}\beta^{h_{ij}\times ((i\% 3)+1)} - \gamma T - \delta W \\
                     h\text{는 } 5 \times 3 \text{행렬}, T\text{는 걸린시간}, W\text{는 틀린 횟수} \\
                     \alpha = 500, \beta = 2, \gamma = 1, \delta = 4\end{align}$$</p>
            </div>
        </div>
    </div>
</body>