<!DOCTYPE html>

<head>
    <title>수학 퀴즈</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script type="text/javascript" src="{{url_for('static', filename='room1.js')}}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script type="text/javascript">
        BGCOLOR = "rgb(70, 70, 70)";
        function copeWithHint() {
            showHintModal();
            hintClick(0);
        }
        function initLevel1_cli() {
            const REALWIDTH = 501, REALHEIGHT = 595;
            var canvas = document.getElementById('mainCanvas');
            var canvasLeft = canvas.offsetLeft + canvas.clientLeft;
            var canvasTop = canvas.offsetTop + canvas.clientTop;
            var ctx = canvas.getContext('2d');
            ctx.fillStyle = "rgba(0, 0, 0, 0)";
            ctx.fillRect(left, top, width, height);
            ctx.beginPath();
            ctx.fillStyle = BGCOLOR;
            ctx.fillRect(0, 0, canvas.width, canvas.height);
            var img = new Image();
            img.src = "{{url_for('static', filename='invitation.png')}}";
            img.onload = function () {
                if(canvas.getBoundingClientRect().width*REALHEIGHT < canvas.getBoundingClientRect().height*REALWIDTH) {
                    var imgWidth = canvas.getBoundingClientRect().width, imgHeight = canvas.getBoundingClientRect().width*(REALHEIGHT/REALWIDTH);
                    ctx.drawImage(img, 0, (canvas.getBoundingClientRect().height - imgHeight)/2, imgWidth, imgHeight);
                }
                else {
                    var imgWidth = canvas.getBoundingClientRect().height*(REALWIDTH/REALHEIGHT), imgHeight = canvas.getBoundingClientRect().height;
                    ctx.drawImage(img, (canvas.getBoundingClientRect().width - imgWidth)/2, 0, imgWidth, imgHeight);
                }
            }
            canvas.addEventListener('click', function (event) {
                if(level != 1) return;
                var x = event.pageX - canvasLeft;
                var y = event.pageY - canvasTop;
                var tmp = rawCoordToImgCoord(x, y, canvas.getBoundingClientRect().width, canvas.getBoundingClientRect().height, REALWIDTH, REALHEIGHT);
                if (isInRectangle(tmp[0], tmp[1], LEVEL1[0][0], LEVEL1[0][1], Math.abs(LEVEL1[0][0] - LEVEL1[1][0]), Math.abs(LEVEL1[0][1] - LEVEL1[1][1]))) {
                    showQuestionModal();
                }
                console.log('x y ' + x + ' ' + y);
                console.log('rawC2imgC ' + tmp[0] + ' ' + tmp[1]);
                console.log('imgC2rawC ' + imgCoordToRawCoord(tmp[0], tmp[1], canvas.getBoundingClientRect().width, canvas.getBoundingClientRect().height, REALWIDTH, REALHEIGHT));
            })
            initLevel1();
        }
        function initLevel2_cli() {
            const REALWIDTH = 501, REALHEIGHT = 595;
            var canvas = document.getElementById('mainCanvas');
            var canvasLeft = canvas.offsetLeft + canvas.clientLeft;
            var canvasTop = canvas.offsetTop + canvas.clientTop;
            var ctx = canvas.getContext('2d');
            ctx.fillStyle = "rgba(0, 0, 0, 0)";
            ctx.fillRect(left, top, width, height);
            ctx.beginPath();
            ctx.fillStyle = BGCOLOR;
            ctx.fillRect(0, 0, canvas.width, canvas.height);
            var img = new Image();
            img.src = "{{url_for('static', filename='invitation.png')}}";
            img.onload = function () {
                if(canvas.getBoundingClientRect().width*REALHEIGHT < canvas.getBoundingClientRect().height*REALWIDTH) {
                    var imgWidth = canvas.getBoundingClientRect().width, imgHeight = canvas.getBoundingClientRect().width*(REALHEIGHT/REALWIDTH);
                    ctx.drawImage(img, 0, (canvas.getBoundingClientRect().height - imgHeight)/2, imgWidth, imgHeight);
                }
                else {
                    var imgWidth = canvas.getBoundingClientRect().height*(REALWIDTH/REALHEIGHT), imgHeight = canvas.getBoundingClientRect().height;
                    ctx.drawImage(img, (canvas.getBoundingClientRect().width - imgWidth)/2, 0, imgWidth, imgHeight);
                }
            }
            canvas.addEventListener('click', function (event) {
                if(level != 2) return;
                var x = event.pageX - canvasLeft;
                var y = event.pageY - canvasTop;
                var tmp = rawCoordToImgCoord(x, y, canvas.getBoundingClientRect().width, canvas.getBoundingClientRect().height, REALWIDTH, REALHEIGHT);
                if (isInRectangle(tmp[0], tmp[1], LEVEL2[0][0], LEVEL2[0][1], Math.abs(LEVEL2[0][0] - LEVEL2[1][0]), Math.abs(LEVEL2[0][1] - LEVEL2[1][1]))) {
                    showQuestionModal();
                }
                console.log('x y ' + x + ' ' + y);
                console.log('rawC2imgC ' + tmp[0] + ' ' + tmp[1]);
                console.log('imgC2rawC ' + imgCoordToRawCoord(tmp[0], tmp[1], canvas.getBoundingClientRect().width, canvas.getBoundingClientRect().height, REALWIDTH, REALHEIGHT));
            })
            initLevel2();
        }
        function initLevel3_cli() {
            const REALWIDTH = 656, REALHEIGHT = 871;
            var canvas = document.getElementById('mainCanvas');
            var canvasLeft = canvas.offsetLeft + canvas.clientLeft;
            var canvasTop = canvas.offsetTop + canvas.clientTop;
            var ctx = canvas.getContext('2d');
            ctx.fillStyle = "rgba(0, 0, 0, 0)";
            ctx.fillRect(left, top, width, height);
            ctx.beginPath();
            var img = new Image();
            img.src = "{{url_for('static', filename='howmany.png')}}";
            img.onload = function () {
                if(canvas.getBoundingClientRect().width*REALHEIGHT < canvas.getBoundingClientRect().height*REALWIDTH) {
                    var imgWidth = canvas.getBoundingClientRect().width, imgHeight = canvas.getBoundingClientRect().width*(REALHEIGHT/REALWIDTH);
                    ctx.drawImage(img, 0, (canvas.getBoundingClientRect().height - imgHeight)/2, imgWidth, imgHeight);
                }
                else {
                    var imgWidth = canvas.getBoundingClientRect().height*(REALWIDTH/REALHEIGHT), imgHeight = canvas.getBoundingClientRect().height;
                    ctx.drawImage(img, (canvas.getBoundingClientRect().width - imgWidth)/2, 0, imgWidth, imgHeight);
                }
            }
            /*b = [false, false, false, false, false, false];
            for (var i = 0; i < 5; i++) {
                ctx.rect(i * 100, 0, 100, 100);
                ctx.fillStyle = (b[i]) ? "red" : "blue";
                ctx.fill();
            }
            ctx.fillStyle = "green";
            ctx.fillRect(5 * 100, 0, 100, 100);*/
            canvas.addEventListener('click', function (event) {
                if(level != 3) return;
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
                ctx.fillRect(left, top, width, height);
                ctx.beginPath();
                var x = event.pageX - canvasLeft;
                var y = event.pageY - canvasTop;
                
                /*for (var i = 0; i < 5; i++) {
                    if (isInRectangle(x, y, i*100, 0, 100, 100)) {
                        b[i] = !b[i];
                        console.log('b ' + i + " " + b[i]);
                    }
                    ctx.fillStyle = (b[i]) ? "red" : "blue";
                    ctx.fillRect(i * 100, 0, 100, 100);
                }
                if (isInRectangle(x, y, 500, 0, 100, 100)) {
                    var s = 0;
                    for (var i = 0; i < 5; i++) s += Math.pow(2, i) * b[4 - i];
                    alert(s);
                }
                ctx.fillStyle = "green";
                ctx.fillRect(5 * 100, 0, 100, 100);
                ctx.fillStyle = "blue";
                ctx.fillRect(100, 100, 100, 100);
                ctx.fillRect(400, 400, 100, 100);*/
                var img = new Image();
                img.src = "{{url_for('static', filename='howmany.png')}}";
                img.onload = function () {
                    if(canvas.getBoundingClientRect().width*REALHEIGHT < canvas.getBoundingClientRect().height*REALWIDTH) {
                        var imgWidth = canvas.getBoundingClientRect().width, imgHeight = canvas.getBoundingClientRect().width*(REALHEIGHT/REALWIDTH);
                        ctx.drawImage(img, 0, (canvas.getBoundingClientRect().height - imgHeight)/2, imgWidth, imgHeight);
                    }
                    else {
                        var imgWidth = canvas.getBoundingClientRect().height*(REALWIDTH/REALHEIGHT), imgHeight = canvas.getBoundingClientRect().height;
                        ctx.drawImage(img, (canvas.getBoundingClientRect().width - imgWidth)/2, 0, imgWidth, imgHeight);
                    }
                }
                var tmp = rawCoordToImgCoord(x, y, canvas.getBoundingClientRect().width, canvas.getBoundingClientRect().height, REALWIDTH, REALHEIGHT);
                if (isInRectangle(tmp[0], tmp[1], LEVEL3[0][0], LEVEL3[0][1], Math.abs(LEVEL3[0][0] - LEVEL3[1][0]), Math.abs(LEVEL3[0][1] - LEVEL3[1][1]))) {
                    showQuestionModal();
                }
                console.log('x y ' + x + ' ' + y);
                console.log('rawC2imgC ' + tmp[0] + ' ' + tmp[1]);
                console.log('imgC2rawC ' + imgCoordToRawCoord(tmp[0], tmp[1], canvas.getBoundingClientRect().width, canvas.getBoundingClientRect().height, REALWIDTH, REALHEIGHT));
            })
            initLevel3();
        }

        function drawLine(ctx, startX, startY, finishX, finishY, width) {
            ctx.strokeStyle = 'black';
            ctx.lineWidth = width;
            ctx.beginPath();
            ctx.moveTo(startX, startY);
            ctx.lineTo(finishX, finishY);
            ctx.stroke();
        }

        function initLevel4_cli() {
            const REALWIDTH = 4464, REALHEIGHT = 7968, LINEWIDTH = 3.8;
            var canvas = document.getElementById('mainCanvas');
            let CW = canvas.getBoundingClientRect().width, CH = canvas.getBoundingClientRect().height;
            var canvasLeft = canvas.offsetLeft + canvas.clientLeft;
            var canvasTop = canvas.offsetTop + canvas.clientTop;
            var ctx = canvas.getContext('2d');
            ctx.fillStyle = "rgba(0, 0, 0, 0)";
            ctx.fillRect(left, top, width, height);
            ctx.beginPath();
            ctx.fillStyle = BGCOLOR;
            ctx.fillRect(0, 0, canvas.width, canvas.height);
            var img = new Image();
            img.src = "{{url_for('static', filename='map_level4.png')}}";
            img.onload = function () {
                if(CW*REALHEIGHT < CH*REALWIDTH) {
                    var imgWidth = CW, imgHeight = CW*(REALHEIGHT/REALWIDTH);
                    ctx.drawImage(img, 0, (CH - imgHeight)/2, imgWidth, imgHeight);
                }
                else {
                    var imgWidth = CH*(REALWIDTH/REALHEIGHT), imgHeight = CH;
                    ctx.drawImage(img, (CW - imgWidth)/2, 0, imgWidth, imgHeight);
                }
                for(var i = 0; i < puzzle.length; i++) {
                    if(PUZZLECOORD[i][puzzle[i]].length == 2) {
                        var tmp1 = imgCoordToRawCoord(PUZZLECOORD[i][puzzle[i]][0][0], PUZZLECOORD[i][puzzle[i]][0][1], CW, CH, REALWIDTH, REALHEIGHT);
                        var tmp2 = imgCoordToRawCoord(PUZZLECOORD[i][puzzle[i]][1][0], PUZZLECOORD[i][puzzle[i]][1][1], CW, CH, REALWIDTH, REALHEIGHT);
                        drawLine(ctx, Math.min(tmp1[0], tmp2[0]), Math.min(tmp1[1], tmp2[1]), Math.max(tmp1[0], tmp2[0]), Math.max(tmp1[1], tmp2[1]), LINEWIDTH);
                    }
                    else {
                        var tmp1 = imgCoordToRawCoord(PUZZLECOORD[i][puzzle[i]][0][0], PUZZLECOORD[i][puzzle[i]][0][1], CW, CH, REALWIDTH, REALHEIGHT);
                        var tmp2 = imgCoordToRawCoord(PUZZLECOORD[i][puzzle[i]][1][0], PUZZLECOORD[i][puzzle[i]][1][1], CW, CH, REALWIDTH, REALHEIGHT);
                        var tmp3 = imgCoordToRawCoord(PUZZLECOORD[i][puzzle[i]][2][0], PUZZLECOORD[i][puzzle[i]][2][1], CW, CH, REALWIDTH, REALHEIGHT);
                        drawLine(ctx, Math.min(tmp1[0], tmp2[0]), Math.min(tmp1[1], tmp2[1]), Math.max(tmp1[0], tmp2[0]), Math.max(tmp1[1], tmp2[1]), LINEWIDTH);
                        drawLine(ctx, Math.min(tmp2[0], tmp3[0]), Math.min(tmp2[1], tmp3[1]), Math.max(tmp2[0], tmp3[0]), Math.max(tmp2[1], tmp3[1]), LINEWIDTH);
                    }
                }
                ctx.fillStyle = "green";
                var tmp1 = imgCoordToRawCoord(LEVEL4[0][0], LEVEL4[0][1], CW, CH, REALWIDTH, REALHEIGHT);
                var tmp2 = imgCoordToRawCoord(LEVEL4[1][0], LEVEL4[1][1], CW, CH, REALWIDTH, REALHEIGHT);
                ctx.fillRect(tmp1[0], tmp1[1], Math.abs(tmp1[0] - tmp2[0]), Math.abs(tmp1[1] - tmp2[1]));
            }
            showQuestionModal();
            canvas.addEventListener('click', function (event) {
                if(level != 4) return;
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
                ctx.fillRect(left, top, width, height);
                ctx.beginPath();
                ctx.fillStyle = BGCOLOR;
                ctx.fillRect(0, 0, canvas.width, canvas.height);
                if(CW*REALHEIGHT < CH*REALWIDTH) {
                    var imgWidth = CW, imgHeight = CW*(REALHEIGHT/REALWIDTH);
                    ctx.drawImage(img, 0, (CH - imgHeight)/2, imgWidth, imgHeight);
                }
                else {
                    var imgWidth = CH*(REALWIDTH/REALHEIGHT), imgHeight = CH;
                    ctx.drawImage(img, (CW - imgWidth)/2, 0, imgWidth, imgHeight);
                }
                var x = event.pageX - canvasLeft;
                var y = event.pageY - canvasTop;
                console.log('x y ' + x + ' ' + y);
                var tmp = rawCoordToImgCoord(x, y, CW, CH, REALWIDTH, REALHEIGHT);
                console.log('rawC2imgC ' + tmp[0] + ' ' + tmp[1]);
                console.log('imgC2rawC ' + imgCoordToRawCoord(tmp[0], tmp[1], CW, CH, REALWIDTH, REALHEIGHT));
                for(var i = 0; i < puzzle.length; i++) {
                    var maxX = -1, maxY = -1, minX = 10000, minY = 10000;
                    for(var j = 0; j < 4; j++) {
                        for(var k = 0; k < PUZZLECOORD[i][j].length; k++) {
                            maxX = Math.max(maxX, PUZZLECOORD[i][j][k][0]);
                            maxY = Math.max(maxY, PUZZLECOORD[i][j][k][1]);
                            minX = Math.min(minX, PUZZLECOORD[i][j][k][0]);
                            minY = Math.min(minY, PUZZLECOORD[i][j][k][1]);
                        }
                    }
                    var tmp = rawCoordToImgCoord(x, y, CW, CH, REALWIDTH, REALHEIGHT);
                    if(isInRectangle(tmp[0], tmp[1], minX, minY, maxX - minX, maxY - minY)) puzzle[i] = (puzzle[i] + 1)%4;
                    if(PUZZLECOORD[i][puzzle[i]].length == 2) {
                        var tmp1 = imgCoordToRawCoord(PUZZLECOORD[i][puzzle[i]][0][0], PUZZLECOORD[i][puzzle[i]][0][1], CW, CH, REALWIDTH, REALHEIGHT);
                        var tmp2 = imgCoordToRawCoord(PUZZLECOORD[i][puzzle[i]][1][0], PUZZLECOORD[i][puzzle[i]][1][1], CW, CH, REALWIDTH, REALHEIGHT);
                        drawLine(ctx, tmp1[0], tmp1[1], tmp2[0], tmp2[1], LINEWIDTH);
                    }
                    else {
                        var tmp1 = imgCoordToRawCoord(PUZZLECOORD[i][puzzle[i]][0][0], PUZZLECOORD[i][puzzle[i]][0][1], CW, CH, REALWIDTH, REALHEIGHT);
                        var tmp2 = imgCoordToRawCoord(PUZZLECOORD[i][puzzle[i]][1][0], PUZZLECOORD[i][puzzle[i]][1][1], CW, CH, REALWIDTH, REALHEIGHT);
                        var tmp3 = imgCoordToRawCoord(PUZZLECOORD[i][puzzle[i]][2][0], PUZZLECOORD[i][puzzle[i]][2][1], CW, CH, REALWIDTH, REALHEIGHT);
                        drawLine(ctx, tmp1[0], tmp1[1], tmp2[0], tmp2[1], LINEWIDTH);
                        drawLine(ctx, tmp2[0], tmp2[1], tmp3[0], tmp3[1], LINEWIDTH);
                    }
                }
                if(isInRectangle(tmp[0], tmp[1], LEVEL4[0][0], LEVEL4[0][1], Math.abs(LEVEL4[0][0] - LEVEL4[1][0]), Math.abs(LEVEL4[0][1] - LEVEL4[1][1]))) submitAnswer();
                ctx.fillStyle = "green";
                var tmp1 = imgCoordToRawCoord(LEVEL4[0][0], LEVEL4[0][1], CW, CH, REALWIDTH, REALHEIGHT);
                var tmp2 = imgCoordToRawCoord(LEVEL4[1][0], LEVEL4[1][1], CW, CH, REALWIDTH, REALHEIGHT);
                ctx.fillRect(tmp1[0], tmp1[1], Math.abs(tmp1[0] - tmp2[0]), Math.abs(tmp1[1] - tmp2[1]));
            })
            initLevel4();
        }

        function level4Finished() {
            const REALWIDTH = 4464, REALHEIGHT = 7968;
            var canvas = document.getElementById('mainCanvas');
            let CW = canvas.getBoundingClientRect().width, CH = canvas.getBoundingClientRect().height;
            var ctx = canvas.getContext('2d');
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.beginPath();
            ctx.fillStyle = "gray";
            ctx.fillRect(0, 0, canvas.width, canvas.height);
            var img = new Image();
            img.src = "{{url_for('static', filename='map_level4_finished.png')}}";
            img.onload = function () {
                if(CW*REALHEIGHT < CH*REALWIDTH) {
                    var imgWidth = CW, imgHeight = CW*(REALHEIGHT/REALWIDTH);
                    ctx.drawImage(img, 0, (CH - imgHeight)/2, imgWidth, imgHeight);
                }
                else {
                    var imgWidth = CH*(REALWIDTH/REALHEIGHT), imgHeight = CH;
                    ctx.drawImage(img, (CW - imgWidth)/2, 0, imgWidth, imgHeight);
                }
            }
            setTimeout(nextLevel(), 3000); 
        }

        function initLevel5_cli() {
            const XSIZE = 100, YSIZE = 100;
            var canvas = document.getElementById('mainCanvas');
            let CW = canvas.getBoundingClientRect().width, CH = canvas.getBoundingClientRect().height;
            var canvasLeft = canvas.offsetLeft + canvas.clientLeft;
            var canvasTop = canvas.offsetTop + canvas.clientTop;
            var ctx = canvas.getContext('2d');
            ctx.fillStyle = "rgba(0, 0, 0, 0)";
            ctx.fillRect(left, top, width, height);
            ctx.beginPath();
            fireworks = [];
            graph = [];
            ctx.fillStyle = "green";
            var img = new Image();
            img.src = "{{url_for('static', filename='confetti.png')}}";
            img.onload = function() {
                for(var i = 0; i < 5; i++) {
                    fireworks.push([Math.floor(Math.random()*(CW/2)), Math.floor(Math.random()*(CH/2))]);
                    ctx.drawImage(img, fireworks[i][0], fireworks[i][1], XSIZE, YSIZE);
                }
                ctx.fillRect(LEVEL5[0][0], LEVEL5[0][1], Math.abs(LEVEL5[0][0] - LEVEL5[1][0]), Math.abs(LEVEL5[0][1] - LEVEL5[1][1]));
            }
            focusing = false;
            focused = -1;
            showQuestionModal();
            canvas.addEventListener('click', function (event) {
                if(level != 5) return;
                ctx.fillStyle = "rgba(0, 0, 0, 0)";
                ctx.fillRect(left, top, width, height);
                ctx.beginPath();
                var x = event.pageX - canvasLeft;
                var y = event.pageY - canvasTop;
                console.log('x y ' + x + ' ' + y);
                var clicked = -1;
                for(var i = 0; i < FIREWORKSCOUNT; i++) {
                    if(isInRectangle(x, y, fireworks[i][0], fireworks[i][1], XSIZE, YSIZE)) {
                        clicked = i;
                        console.log(clicked);
                        break;
                    }
                }
                if(clicked != -1) {
                    if(focusing) {
                        if(clicked == focused) focusing = false;
                        else {
                            graph.push([focused, clicked]);
                            console.log(graph[graph.length - 1]);
                            focusing = false;
                        }
                    }
                    else {
                        focusing = true;
                        focused = clicked;
                    }
                }
                for(var i = 0; i < fireworks.length; i++) {
                    ctx.drawImage(img, fireworks[i][0], fireworks[i][1], XSIZE, YSIZE);
                }
                for(var i = 0; i < graph.length; i++) {
                    drawLine(ctx, fireworks[graph[i][0]][0] + XSIZE/2, fireworks[graph[i][0]][1] + YSIZE/2, fireworks[graph[i][1]][0] + XSIZE/2, fireworks[graph[i][1]][1] + YSIZE/2, 6);
                }
                if(isInRectangle(x, y, LEVEL5[0][0], LEVEL5[0][1], Math.abs(LEVEL5[0][0] - LEVEL5[1][0]), Math.abs(LEVEL5[0][1] - LEVEL5[1][1]))) submitAnswer();
                ctx.fillRect(LEVEL5[0][0], LEVEL5[0][1], Math.abs(LEVEL5[0][0] - LEVEL5[1][0]), Math.abs(LEVEL5[0][1] - LEVEL5[1][1]));
            })
            initLevel5();
        }

        window.onload = function () {
            document.getElementById('device').value = navigator.userAgent;
            init();
            initLevel1_cli();
        }
    </script>
</head>

<body>
    <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true"
        id="questionModal" style="display: none;">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"
                onclick="hideQuestionModal();"></div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-5xl leading-6 font-medium text-gray-900" id="questionModalTitle">
                                Problem 1
                            </h3>
                            <div class="mt-2 text-2xl text-gray-500" id="questionModalContent">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-blue-100 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <div class="grid-cols-2 w-full">
                        <div class="row-span-2">
                            <label id="answerLabel" class="text-xl text-gray-500">답</label>
                            <input id="answer" class="rounded-3xl border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent font-thin">
                        </div>
                        <div class="row-span-2 justify-end">
                            <button type="button" id="answerBtn"
                            class="rounded-lg bg-blue-500 hover:bg-blue-700 text-white text-black py-1 px-4"
                                onclick="submitAnswer();">
                                답안 입력
                            </button>
                            <button type="button"
                                class="mt-3 w-full inline-flex justify-end rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                                onclick="hideQuestionModal();">
                                닫기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true"
        id="hintModal" style="display: none;">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"
                onclick="hideHintModal();"></div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-5xl leading-6 font-medium text-gray-900" id="modal-title">
                                Hint 1
                            </h3>
                            <div class="mt-2 text-2xl text-gray-500" id="hintModalContent">
                                <p>장난스러운 당신의 친구는 홈파티 초대장에 보낸 시간을 논리문제로 만들어 첨부하였다.</p>
                                <p>당신은 친구에게 문제적 남자 시청을 추천했던 과거의 당신을 원망해보지만 이미 늦은 일이다.</p>
                                <p>과거는 저기너머에 두고 당신의 절친한 친구를 위해 문제를 풀어 홈파티에 참여하자.</p>
                                <p>a. 홈파티는 수요일에 시작한다.</p>
                                <p>b. 홈파티는 목요일에 시작한다.</p>
                                <p>c. 홈파티는 금요일에 시작한다.</p>
                                <p>d. 홈파티는 토요일에 시작한다.</p>
                                <p>e. 홈파티는 일요일에 시작한다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button type="button"
                    class="rounded-lg bg-blue-500 hover:bg-blue-700 text-white text-black py-1 px-4"
                        onclick="hintClick(1)">
                        다음 힌트
                    </button>
                    <button type="button"
                        class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                        onclick="hideHintModal();">
                        닫기
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="data">
        <!--JSON으로 보내야 될듯.. 귀찮으니까 TODO-->
        <input type="hidden" id="pid" name="pid" value="{{pid}}">
        <input type="hidden" id="roomId" name="roomId" value="{{roomId}}">
        <input type="hidden" id="finishedTime" name="finishedTime" value="">
        <input type="hidden" id="device" name="device" value="">
        <input type="hidden" id="rights" name="rights" value="">
        <input type="hidden" id="wrongs" name="wrongs" value="000000000000000">
        <input type="hidden" id="h" name="h" value="">
    </div>
    <div name="header">
        <div class="underline text-gray-400 text-sm sm:text-lg font-light">
            <div class="flex justify-between">
                <div class="justify-start">
                    <p>{{name}}</p>
                </div>
                <div class="text-center">
                    <p class="no-underline text-gray-700 text-2xl font-medium" id="questionTitle"></p>
                </div>
                <div class="justify-center">
                    <button class="rounded-lg bg-blue-500 hover:bg-blue-700 text-white px-1 sm:py-1 sm:px-4" onclick="copeWithHint();">힌트 보기</button>
                </div>
                <div class="justify-end text-right">
                    <a href="/logout">로그아웃</a>
                </div>
            </div>
        </div>
    </div>
    <canvas id="mainCanvas" width="10" height="10"></canvas>
</body>
