<!DOCTYPE html>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<head>
    <title>방1 해설</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body class="bg-blue-50">
    <div name="header" class="">
        <div class="flex underline justify-between text-gray-400 text-lg font-light">
            <div class="">
                <p>{{name}}</p>
            </div>
            <div class="text-center">
                <a href="/">홈으로</a>
            </div>
            <div class="text-right">
                <a href="/logout">로그아웃</a>
            </div>
        </div>
    </div>
    <div name="title">
        <p class="text-3xl sm:text-7xl font-black mt-3 text-gray-700">방1 해설</p>
    </div>
    <div name="body">
        <p class="text-xl sm:text-5xl font-black mt-3 text-gray-600">1번</p>
        <div class="text-lg sm:text-4xl font-medium mt-1 text-gray-500">
        </div>
        <p class="text-xl sm:text-5xl font-black mt-3 text-gray-600">2번</p>
        <div class="text-lg sm:text-4xl font-medium mt-1 text-gray-500">
            <p>폭죽을 볼록다각형 모양으로 이으면(줄 7개를 사용하여), 줄이 끊어지지 않을경우 모두가 이어집니다.</p>
            <p>이때 아직 직접 연결하지 않은 두 폭죽을 이으면 문제의 조건을 만족합니다.</p>
        </div>
        <p class="text-xl sm:text-5xl font-black mt-3 text-gray-600">3번</p>
        <div class="text-lg sm:text-4xl font-medium mt-1 text-gray-500">
            <p>2진법은 2의 거듭제곱과, 1 또는 0을 사용해서 수를 표현하는 것입니다.</p>
            <p>십진수 123이 \(123 = 1\times 10^2 + 2\times 10^1 + 3\times 10^0\)으로 나타내지듯, </p>
            <p>이진수 1011은 \(1011 = 1\times 2^3 + 0 \times 2^2 + 1 \times 2^1 + 1\times 2^0 = 8 + 2 + 1 = 11\)입니다.</p>
        </div>
        <p class="text-xl sm:text-5xl font-black mt-3 text-gray-600">4번</p>
        <div class="text-lg sm:text-4xl font-medium mt-1 text-gray-500">
            <p>폭죽을 볼록다각형 모양으로 이으면(줄 7개를 사용하여), 줄이 끊어지지 않을경우 모두가 이어집니다.</p>
            <p>이때 아직 직접 연결하지 않은 두 폭죽을 이으면 문제의 조건을 만족합니다.</p>
        </div>
        <p class="text-xl sm:text-5xl font-black mt-3 text-gray-600">5번</p>
        <div class="text-lg sm:text-4xl font-medium mt-1 text-gray-500">
            <p>모든 폭죽은 최소한 2개의 줄로 연결되어있어야 합니다.</p>
            <p>줄이 연결되지 않은 폭죽이 있다면, 자명하게도 문제의 조건을 만족하지 않고, </p>
            <p>1개의 줄과 연결된 폭죽이 있다면, 그 줄이 끊어졌을 경우 고립되기 때문입니다.</p>
            <p>즉, 모든 폭죽은 최소한 2개의 줄로 연결되어있어야 하고, </p>
            <p>폭죽을 볼록다각형 모양으로 이으면 문제의 조건을 만족합니다.</p>
        </div>
    </div>
</body>