<!DOCTYPE html>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<head>
    <title>방1 설명</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body class="bg-blue-50">
    <div name="header">
        <div class="underline grid grid-cols-2 text-gray-400 text-lg font-light">
            <div class="justify-start">
                <p>{{name}}</p>
            </div>
            <div class="justify-end text-right">
                <a href="/logout">로그아웃</a>
            </div>
        </div>
    </div>
    <div name="title">
        <p class="text-3xl sm:text-7xl font-black mt-3 text-gray-700">방1 설명</p>
    </div>
    <div name="body">
        <div class="">
            <p class="text-xl sm:text-5xl font-black mt-3 text-gray-600">사용법</p>
            <div class="text-lg sm:text-4xl font-medium mt-1 text-gray-500">
                <p></p>
            </div>
        </div>
    </div>
</body>