<!DOCTYPE html>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<head>
    <title>설문조사</title>
</head>
<body>
    <div class="container mt-20 mr-30 ml-30">
        <p class="text-7xl font-black">설문조사</p>
        <form action="/back_survey" method="POST">
            <input name="roomId" type="hidden" val="{{roomId}}">
            <div class="grid grid-cols-1">
                <div class="w-1/4">
                    <p class="text-2xl bg-yellow-100">mbti?</p>
                    <input name="mbti">
                </div>
                <div class="w-1/4">
                    <p class="text-2xl bg-yellow-100">최근 푼 수학 문제 수?</p>
                    <input name="recentMathPCnt" type="number">
                </div>
                <div class="w-1/4">
                    <p class="text-2xl bg-yellow-100">수학 얼마나 좋아하는지?</p>
                    <input name="rateOfLikingMath" type="number">
                </div>
                <div class="w-1/4">
                    <p class="text-2xl bg-yellow-100">가장 좋아하는 수학 분야?</p>
                    <input name="mostLikeMathField">
                </div>
                <input type="submit" value="저장">
            </div>
        </form>
    </div>
</body>